{% extends 'base.html.twig' %}

{% block title %}{{ concert.name }}{% endblock %}

{% block body %}
<div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/symf/pictures/bands/{{ concert.mainBand.picture }}" alt="{{ concert.mainBand.picture }}"></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">{{ concert.name }}</h1>
                    <p>{{ concert.info }}</p>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><h2 class="text-white m-0">Informations sur le groupe</h2></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">{{ concert.mainBand.name }}</h2>
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="/symf/pictures/bands/{{ concert.mainBand.picture }}" alt="{{ concert.mainBand.picture }}">
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/symf/index.php/band/{{ concert.mainBand.id }}">More Info</a></div>
                        </div>
                    </div>              
            </div>

            {% if concert.openingBand %}
                <!-- Call to Action-->
                <div class="card text-white bg-secondary my-5 py-4 text-center">
                    <div class="card-body"><h2 class="text-white m-0">Première partie</h2></div>
                </div>
                <!-- Content Row-->
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">{{ concert.openingBand.name }}</h2>
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="/symf/pictures/bands/{{ concert.openingBand.picture }}" alt="{{ concert.openingBand.picture }}">
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/symf/index.php/band/{{ concert.openingBand.id }}">More Info</a></div>
                        </div>
                    </div>              
                </div>
            {% endif %}
        </div>


{% endblock %}
